*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.nav-top {
    display: flex;
    min-height: 60px;
    align-items: center;
    background: blue;
}
.nav-title {
    margin-left: 3%;
}

.divider {
    flex: 1;
}
.nav-link {
    font-size: 18px ;
    color: #000;
    text-decoration: none;
    margin-right: 5%;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-column-gap: 5%;
    
}

.side-nav {
    display: flex;
    flex-direction: column;
    margin: 3rem 10%;
    }

.side-nav a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-bottom: 7%;
    
}

.side-nav a:hover,
.side-nav a:active {
    color: blue;
}

.main-content {
    padding-top: 2.4rem;
}
.help-content {
    margin-bottom:3%;
    text-align: center;
}

.top-btn {
    color: #000;
    background:blue;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 5%;
}

.top-btn a{
    text-decoration: none;
    color: white;
    
}
@media (max-width:796px) {
    .main-wrapper {
        display: flex;
        flex-direction: column;
    }

    .side-nav {
        flex-direction: row;
        margin: 0.5%;
        padding: 0%;
    }
    .side-nav a{
        margin-bottom: 0%;
        margin-right:1% ;
        text-align: center;
    }
    .main-content {
        padding-top: 4%;
    }

    .help-content {
        margin-bottom:7%
    }
}
